.category {
        @include container;
}

.category__box {
        @include span(3 of 12);

}

.category__name {

}

.category__img {

}

.category__description, 
.article__description {
        font-size:$font-size/1.5;
}





.article__title {


}
.article__img {

}

.article__tags {
        font-size:0.9rem;
        color:$one-color;

}
.article {
}
.article__header-img {
        @include span(3 of 12);
        @include clearfix;
}
.article__header {
        @include span(8 of 12);
        & h1 {
                font-size:2rem;
        }
}


.article__content {
        @include span(12 of 12);
        //@include clearfix;

}
.article__footer {
        border-top:1px solid $hr-color;
        padding:1rem;
}


.article__category-name {
        background:none;
        font-size:0.9rem;

}
